.global {
    width: 1280px;
    margin: 0 auto;
}

.header {
    width: 100%;
    padding-left: 18px;
}

.section1 {
    width: 100%;
    max-width: 608px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-height: 852px;
    overflow-y: auto;
  }

  .section2 {
    width: 100%;
    max-width: 580px;
  }
  
  .main {
    display: flex;
    justify-content: center;
    column-gap: 60px;
    /* width: 1280px; */
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .link {
    text-decoration: none;
    color: rgba(242, 242, 243, 1);
  }