.status {
    display: flex;
    flex-direction: row;
    gap: 36px;
    padding-bottom: 60px;
    flex-wrap: wrap;
}

.listcolor {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 8px;
    flex-direction: column;
    color: rgba(0, 204, 204, 1);
    /* min-width: 272px; */
    height: 313px;
    flex-wrap: wrap;
    /* overflow-y: scroll; */
    /* width: 50%; */
}

.list {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 8px;
    flex-direction: column;
    min-width: 272px;
    flex-wrap: wrap;
    max-height: 304px;
    /* width: 50%; */
}

.digit {
    list-style-type: none;
}