.container {
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center
}

.link {
	text-decoration: none;
    color: #4C4CFF;
    padding-left: 8px;
}

.registery {
    display: flex;
    margin-top: 80px;
    flex-direction: column;
    align-items: center;
}