.card {
    display: flex;
    flex-direction: column;
    width: calc(100%/2 - 44px);
    position: relative;
    text-decoration: none;
    color: rgba(242, 242, 243, 1);
}

.price {
    display: flex;
    justify-content: center;
}

.name {
    text-align: center;
}

.counter {
    position: absolute;
    top: 0;
    right: 0;
}
